@namespace url("http://www.w3.org/1999/xhtml");

iframe,
div.iframe-blocked {
 -moz-binding: url("chrome://{{chrome-name}}/content/files/block.xml#flash") !important;
 min-height:50px;
 border:1px solid #eee;
}
