#suggestion-box {
    position:fixed;
    z-index:10;
    right:1em;
    top:15%;
    width:200px;

    border:2px solid #000;
    background:#000;
    background:rgba(0,0,0, 0.8);
    border-radius:6px;
    color:#fff;
    padding:1em;
}

#suggestion-box ul {
	list-style-type:none;
	padding:0;
}

#suggestion-box img {
	padding:0 5px;
}

#button-list,
#application-list {
	column-count: 2;
	-moz-column-count: 2;
	margin:0;
	padding:0;
}

#button-list li,
#application-list li {
    list-style-type:none;
    margin:0;
    padding:0;
}

.button-info img,
#button_list img.button-icon {
    float:left;
    margin:0 5px;
    padding:2px;
    border-radius:2px;
    border:1px solid #000 !important;
    background:#fff;
}

.button-info,
#button_list:not(.show-details) li:hover .button-details {
    display:none;
    position:fixed;
    z-index:10;
    bottom:1em;
    left:15%;
    width:50%;

    border:2px solid #000;
    background:#000;
    background:rgba(0,0,0, 0.8);
    border-radius:6px;
    color:#fff;
    padding:1em;
}

.button-info p {
    margin:0 0.25em;
}

.button-item {
    position:relative;
}

.button-item:hover .button-info {
    display:block;
}

.button-details {
    display:none;
}

/* the button list page */

#button_list.show-details .button-name .compatibility {
    display:none;
}

#button_list.show-details .button-item .button-icon {
    display:inline;
}

#button_list.show-details .button-details {
    display:block;
}

#button_list .button-details .compatibility {
    clear:both;
}

.button-icon, #favicons img {
    float:left;
    margin:0 5px;
    padding:2px;
    border-radius:2px;
    border:1px solid #000;
    background:#fff;
}

#show-details {
    text-align:right;
    float:right;
}

#button_list:not(.show-details) li:hover .button-details {
    display:block;
    padding:0.5em;
}

button img {
	vertical-align:middle;
}

button#create-submit {
	line-height:32px;
}

