{% extends "base.html" %}
{% load djangopress_tags %}

{% block head_tags %}
        <link type="text/css" rel="stylesheet" href="{% media_url %}themes/default/tbutton.css">
		<script type="text/javascript" src="{% media_url %}js/tbutton.js"></script>
{% endblock %}

{% block content %}

<form method="post" action="{% url tbutton-create %}" class="form-field">
	<fieldset>
		<legend>Locale &amp; Application</legend>
		<div class="form-field">
			<label for="button-locale">Locale
				<select name="button-locale" id="button-locale" class="form-input">
					{% for value, name, native_name, country in local_data %}
						<option{% if value == locale %} selected{% endif %}
							value="{{ value }}" style="background: url('{% media_url %}images/flags/{{ country|lower }}.png') no-repeat left center; padding-left:20px;">{{ native_name}} [{{ value }}]</option>
					{% endfor %}
				</select>
			</label>
		</div>
		<fieldset>
			<legend>Application</legend>
			<ul id="application-list">
				{% for value in all_applications %}
					<li class="form-field">
						<label for="button-application-{{ value }}">
							<input{% if value in applications %} checked{% endif %} id="button-application-{{ value }}" value="{{ value }}" name="button-application"
								type="checkbox"><img src="{% media_url %}images/icons/{{ value }}.png" alt=""> {% for key, app_names in application_names.items %}{% if key == value %} {{ app_names|join:", " }}{% endif %} {% endfor %}
						</label>
					</li>
				{% endfor %}
			</ul>
		</fieldset>
		<input type="submit" name="update-submit" value="Update">
	</fieldset>
	<fieldset>
		<legend>Buttons</legend>
		<ul id="button-list">
		{% for button, apps, label, tooltip, icon, description in button_data %}
			<li class="button-item">
				<label for="{{ button }}-checkbox">
					<input type="checkbox" id="{{ button }}-checkbox" name="button" value="{{ button }}">
					{% for app in apps %}
						<img src="{% media_url %}images/icons/{{ app }}.png" alt="">
					{% endfor %}
					<span class="button-name">{{ label|safe }}</span>
				</label>
				<div class="button-info"><img src="{% media_url %}images/pastel-svg/16/{{ icon }}" alt="{{ tooltip|safe }}">
					{{ description|linebreaks }}
				</div>
			</li>
		{% endfor %}
		</ul>
	</fieldset>
	<fieldset>
		<legend>Settings</legend>
		<div class="form-field">
			<label>
				<input type="checkbox" name="offer-download" value="true">
					Offer for download instead of installing.
			</label>
			<p>
				Normally extensions get installed into Firefox, but if you intend
				to install the created extension into Thunderbird etc. check this box
				and you will be prompted to download the extension instead.
			</p>
		</div>
		<div class="form-field">
			<label>
				<input type="checkbox" name="include-all-locales" value="true">
					Include all available locales.
			</label>
			<p>
				By default only the locale selected is included.  Check this and all
				locales will be included.
			</p>
		</div>
		<div class="form-field">
			<label>
				<input type="checkbox" name="create-toolbars" value="true">
					Create toolbars for selected buttons.
			</label>
			<p>
				If enabled a suitable number of toolbars will be created to fit your selection of buttons.
				Then your selection will be added onto these toolbars.
			</p>
		</div>
		<div class="form-field">
			<label>
				<input type="checkbox" name="create-menu" value="true">
					Create a menu of selected buttons.
			</label>
			<p>
				A menu of all the selected buttons can be created and placed in the <em>Tools</em> menu.
				This feature is experimental and some buttons may fail to work.
			</p>
		</div>
		{% csrf_token %}
		<input type="hidden" name="locale" value="{{ locale }}">
		<input type="hidden" name="application" value="{{ applications|join:"," }}">
		<input type="submit" name="create-submit" value="Submit">
	</fieldset>
</form>
{% endblock %}
