{% extends "base.html" %}
{% load donate_tags %}

{% block page_title %}Toolbar Buttons {{ tbutton.version }} Installed{% endblock %}

{% block header %}
    <div id="header" class="mini">
     <div id="header-mini-content">
        <span>Congrdulations you have just installed</span>
        <h1><img src="/static/images/pastel-svg/48/toolbar-button.png" width="48" height="48" alt="" /><a href="/toolbar_button/">Toolbar Buttons {{ tbutton.version }}</a></h1>
     </div>
    </div>
{% endblock %}

{% block wrapper %}
    <div id="wrapper" class="no-sidebar">
        <div id="content">
        
   <div id="front-page">
   <div class="front-page">
    <div class="front-page-row">
     <div class="front-page-cell">
      <div class="front-page-cell-content">
        <h2><img src="/static/images/pastel-svg/32/star.png" width="32" height="32" alt="" /> Getting Started</h2>
        {% block getting_started %}
        <p>
            You have just installed <a href="/toolbar_button/">Toolbar Buttons</a>. To get started using the buttons open the Customize Toolbar window by either right clicking on the toolbar and selecting <strong>Customize</strong> from the pop up menu or going <strong>View</strong> then <strong>Toolbars</strong> then <strong>Customize</strong> and from the window that opens up you can drag the buttons to your toolbar. 
        </p>
        <p>
            To find out more information about each of the buttons, please see our <a href="/toolbar_button/button_list/"><strong>Button List</strong></a> which has descriptions of all the buttons.
        </p>
        {% endblock %}
        {% block content_adds %} {{ block.super }} {% endblock %}
      </div>
     </div>
    </div>
    {% if tbutton != tbutton.group.latest %}
    <div class="front-page-row">
     <div class="front-page-cell">
      <div class="front-page-cell-content">
        <h2><img src="/static/images/pastel-svg/32/error.png" width="32" height="32" alt="" /> Update Recomended</h2>
        <p>
            It appears that you have not got the latest version of the extension installed.  It is recommended you go to the <a href="/toolbar_button/">home page</a> and get the latest release.
        </p>
      </div>
     </div>
    </div>
    {% endif %}
    </div>
    
    {% include "tbutton_maker/snipits/help-new.html" %}
   
    {% include "tbutton_maker/snipits/release-notes.html" %}    
    
    {% include "tbutton_maker/snipits/link-pastel.html" %}
    
    <div class="front-page">
    <div class="front-page-row">
     <div class="front-page-cell">
      <div class="front-page-cell-content">
        <h2>Top Donations</h2>
        {% show_best_donations 5 %}
      </div>
     </div>
     
     <div class="front-page-cell">
      <div class="front-page-cell-content">
        <h2>Recent Donations</h2>
        {% show_latest_donations 5 %}
      </div>
     </div>
    </div>
    
   </div>
   
   {% include "tbutton_maker/snipits/format-toolbar.html" %}   
    
   </div>   
        </div>
        {% block social_media %} {{ block.super }} {% endblock %}
    </div>
    
{% endblock %}


