{% extends "base.html" %}
{% load static %}

{% block head_tags %}
        <link type="text/css" rel="stylesheet" href="{% get_static_prefix %}css/tbutton.css">
		<script type="text/javascript" src="{% get_static_prefix %}js/tbutton.js"></script>
{% endblock %}

{% block page_title %}Custom Link Button Maker{% endblock %}

{% block content %}
      <p>
 I have had many people ask me to include one link or another in Toolbar Buttons, so here finally is my answer.  A tool for creating a your own toolbar button that links to what ever page you want.  Feel free to distribute these extensions from your own site, but you must provide a like back to this page and you may not edit the extensions to change their homepage, creator, update link etc.
</p>

<form action="{% url 'lbutton-create' %}" id="link-button-form"
	enctype="multipart/form-data" method="post"  class="field-form">
	{% csrf_token %}
<fieldset>
 <legend>URL</legend>

  <p>
   Type into the below box the URL (include the http:// part) that you would like to use.
  </p>
  <label for="url">Url:
   <input type="text" name="url" id="url" value="http://" onblur="loadFavIcons();">
  </label>
  <p>
   <small>Can be any valid url that could be typed into Firefox's urlbar; http, https, javascript etc. It can be changed later in the options window.</small>
  </p>
</fieldset>
<fieldset>

 <legend>Title &amp; Labels</legend>
  <p>

   The toolbar button needs a label that is seen below the button, and a tooltip (the text the appears in the little yellow box when you hover over the button).
  </p>
  <label for="label">Button Label:
   <input type="text" name="label" id="label" value="MySite.com" onchange="setOtherLabels(this);" onfocus="focusSet(this, 'MySite.com');" onblur="blurSet(this, 'MySite.com');">
  </label>
  <label for="tooltip">Button Tooltip:
   <input type="text" name="tooltip" id="tooltip" value="Open MySite.com" onfocus="focusSet(this, 'Open MySite.com');" onblur="blurSet(this, 'Open MySite.com');">
  </label>
  <p>
   The extension needs a name, so please chose one for your version.
  </p>
  <label for="title">Extension Name:
   <input type="text" name="title" id="title" value="MySite.com Toolbar Button" onfocus="focusSet(this, 'MySite.com Toolbar Button');" onblur="blurSet(this, 'MySite.com Toolbar Button');">
  </label>
</fieldset>

<fieldset>
 <legend>Icons</legend>

  <p>
   The extension needs an icon for the toolbar button.  This can be one of several default icons supplied, the site's "favicon" or one of your own.
  </p>
  <fieldset id="ext-icons">
   <legend>Default Icons</legend>
   <p>
   <label for="default-icon-type">
       <input type="radio" value="default" checked id="default-icon-type" name="icon-type">  Use one of the below icons in the extension.
   </label>
   </p>
   {% for i in icon_range %}
   <label for="www-{{ i }}">
     <input type="radio" value="www-{{ i }}"{% if forloop.first %} checked="checked"{% endif %} id="www-{{ i }}" name="default-icon" >
     <img src="{% get_static_prefix %}images/link-icons/www-{{ i }}-24.png" alt="www-{{ i }}" width="24" height="24">
   </label>
   {% endfor %}

  </fieldset>
  <fieldset id="fav-icons" style="display:none">
   <legend>Favicons</legend>
   <p>
   <label for="favicon-icon-type">
       <input type="radio" value="favicon" id="favicon-icon-type" name="icon-type">  Use the sites favicon in the extension.
   </label>
   </p>
   <div id="favicons"></div>
  </fieldset>
  <script type="text/javascript">document.getElementById("fav-icons").style.display = "block";</script>
  <fieldset id="custom-icons">
   <legend>Custom Icons</legend>
    <p>
      You may choose to use your own icon in the extension.  If you don't supply all sizes the other icons are resized to create those needed.  
    </p>
    <p>
   <label for="custom-icon-type">
       <input type="radio" value="custom" id="custom-icon-type" name="icon-type">  Use my own icons in the extension
   </label>
   </p>
    <div>
      <label for="icon-16">Small icon:
        <input type="file" name="icon-16" id="icon-16">
      </label>
      <p><small>The standard size for this icon is 16x16.</small></p>
    </div>
    <div>
      <label for="icon-24">Large icon:
        <input type="file" name="icon-24" id="icon-24">
      </label>
      <p><small>The standard size for this icon is 24x24.</small></p>
    </div>
    <div>
      <label for="icon-32">Extension icon:
        <input type="file" name="icon-32" id="icon-32">
      </label>
      <p><small>This should be a 32x32 icon</small></p>
    </div>
  </fieldset>
</fieldset>
	<fieldset>
		<legend>Settings</legend>
		
        <div class="form-field">
            <p>
                The links can open in a number of different ways.  This can be changed latter in the options window.
             </p>
           <div>
           <label for="open-default">
               <input type="radio" value="0" checked="checked" id="open-default" name="open-method">  Open in current tab, and new tab on middle click.
           </label>
           </div>
           <div>
           <label for="open-newtab">
               <input type="radio" value="1" id="open-newtab" name="open-method">  Always open in new tab.
           </label>
           </div>
           <div>
           <label for="open-current">
               <input type="radio" value="2" id="open-current" name="open-method">  Always open in current tab.
           </label>
           </div>
        </div>
        
		<div class="form-field">
            <p>
                Normally extensions get installed into Firefox, but if check this box
                you will be prompted to download the extension instead.
            </p>
			<label>
				<input type="checkbox" name="offer-download" value="true">
					Offer for download instead of installing.
			</label>
		</div>
	</fieldset>
	<div>
	 <input type="submit" value="Create">
	</div>
</form>

{% endblock %}
