{% extends "base.html" %}
{% load static %}
{% load cache %}


{% block head_tags %}
        <link type="text/css" rel="stylesheet" href="{% get_static_prefix %}css/tbutton.css">
		<script type="text/javascript" src="{% get_static_prefix %}js/tbutton.js"></script>
{% endblock %}

{% block page_title %}Toolbar Button List{% endblock %}

{% block content %}

<a href="#" id="show-details" onclick="showButtonDetails();">Show Details</a>

<h2>Toolbar Button List</h2>

{% if custom_button %}
<p class="content-box">
    <img src="{% get_static_prefix %}images/icons/cbicon.png" width="24" height="24" alt="">
    To create a button for the <a href="https://addons.mozilla.org/en-us/firefox/addon/custom-buttons/">Custom Buttons</a> extension, open the page of the button you want, click <em>Create Custom Button</em> and fill in what is needed.
</p>
{% endif %}

<ul id="button_list">
    {% cache 600 tbutton_list applications locale %}
	{% for button, apps, label, tooltip, icon, description in button_data %}
		<li class="button-item">
			<span class="button-name">
				<span class="compatibility">
				{% for app in apps %}
					<img src="{% get_static_prefix %}images/icons/{{ app }}.png" alt="">
				{% endfor %}
				</span>
				<a href="{% url 'tbutton-button' button_id=button %}">{{ label|safe }}</a>
			</span>
			<div class="button-details">
				<img class="button-icon" src="{% get_static_prefix %}images/pastel-svg/32/{{ icon }}" title="{{ tooltip|safe }}" alt="{{ tooltip|safe }}">

				{{ description|linebreaks }}

				<p class="compatibility">
				Compatibility:
				{% for app in apps %}
					<img src="{% get_static_prefix %}images/icons/{{ app }}.png" alt="">
					{% for key, app_names in application_names.items %}{% if key == app %} {{ app_names|join:", " }}{% endif %} {% endfor %}
				{% endfor %}
				</p>
			</div>
		</li>
	{% endfor %}
	{% endcache %}
</ul>

<form method="post" action="{% url 'tbutton-list' %}" class="form-field">
	<fieldset>
		<legend>Locale &amp; Application</legend>
		<div class="form-field">
			<label for="button-locale">Locale
				<select name="button-locale" id="button-locale" class="form-input">
					{% for value, name, native_name, country in local_data %}
						<option{% if value == locale %} selected{% endif %}
							value="{{ value }}" style="background: url('{% get_static_prefix %}images/flags/{{ country|lower }}.png') no-repeat left center; padding-left:20px;">{{ native_name}} [{{ value }}]</option>
					{% endfor %}
				</select>
			</label>
		</div>
		<fieldset>
			<legend>Application</legend>
			<ul id="application-list">
				{% for value in all_applications %}
					<li class="form-field">
						<label for="button-application-{{ value }}">
							<input{% if value in applications %} checked{% endif %} id="button-application-{{ value }}" value="{{ value }}" name="button-application"
								type="checkbox"><img src="{% get_static_prefix %}images/icons/{{ value }}.png" alt=""> {% for key, app_names in application_names.items %}{% if key == value %} {{ app_names|join:", " }}{% endif %} {% endfor %}
						</label>
					</li>
				{% endfor %}
			</ul>
		</fieldset>
		{% csrf_token %}
		<input type="hidden" name="locale" value="{{ locale }}">
		<input type="hidden" name="application" value="{{ applications|join:"," }}">
		<input type="submit" name="update-submit" value="Update">
	</fieldset>
</form>
{% endblock %}