{% extends "base.html" %}
{% load static %}

{% block page_title %}Toolbar Button Statistics{% endblock %}

{% block wrapper %}
    <div id="wrapper" class="no-sidebar">
        <div id="content">
	<h2>Toolbar Button Statistics</h2>
	<table>
		<thead>
			<tr>
				<th>#</th>
				<th>Name</th>
				<th>Folder</th>
				<th>Applications</th>
				<th>Id</th>
				<th>Count</th>
				<th>Average</th>
				<th>Percent</th>
				<th>Percent Total</th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>{{ count }} / {{ sessions }}</td>
				<td>{{ average|floatformat:"-3" }}</td>
				<td></td>
				<td></td>
			</tr>
		</tfoot>
		<tbody>
		{% for item in stats %}
			<tr>
				<td>{{ forloop.counter }}</td>
				<td><img src="{% get_static_prefix %}images/pastel-svg/16/{{ item.icon }}" width="16" height="16" alt="{{ item.name|safe }}">
                    {{ item.label }}</td>
                <td>{{ item.folder }}</td>
				<td>                    
				    {% for app in item.applications %}
                        <img src="{% get_static_prefix %}images/icons/{{ app }}.png" width="16" height="16" alt="">
                    {% endfor %}
                </td>
				<td>{{ item.name }}</td>
				<td>{{ item.downloads }}</td>
				<td>{{ item.average|floatformat:"-2" }}</td>
				<td>{{ item.percent|floatformat:"-2" }}</td>
				<td>{{ item.total|floatformat:"-2" }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
        </div>
    </div>
{% endblock %}
