{% extends "tbutton_maker/installed.html" %}

{% block page_title %}Toolbar Buttons {{ tbutton.version }} Updated{% endblock %}

{% block header %}
    <div id="header" class="mini">
     <div id="header-mini-content">
        <span>Congrdulations you have just updated to</span>
        <h1><img src="/static/images/pastel-svg/48/toolbar-button.png" width="48" height="48" alt="" /><a href="/toolbar_button/">Toolbar Buttons {{ tbutton.version }}</a></h1>
     </div>
    </div>
{% endblock %}

{% block getting_started %}
<p>
    You have just updated to <a href="/toolbar_button/">Toolbar Buttons {{ tbutton.version }}</a>. To see what has changed, just scroll down to read the realse notes. To configure what buttons you are using open the customize toolbar window by either right clicking on the toolbar and selecting customize from the pop up menu or going View then Toolbars then Customize and from the window that opens up you can drag the buttons to your toolbar. 
</p>
<p>
    To find out more information about each of the buttons, please see our <a href="/toolbar_button/button_list/"><strong>Button List</strong></a> which has descriptions of all the buttons.
</p>
{% endblock %}