<div class="front-page">
    <div class="front-page-row">
     <div class="front-page-cell">
      <div class="front-page-cell-content">
        <h2><img src="/static/images/pastel-svg/32/page-white-edit.png" width="32" height="32" alt="" /> Text Formatting Toolbar</h2>
        <p>
        Text Formatting Toolbar contains buttons and other tools to help you format text on forums as BBcode or HTML along with the format used by Wikipedia. It's aim is to turn the task of formatting web posts into something  enjoyable. <a href="/format_toolbar/">Download the Text Formatting Toolbar</a>.
        </p>
      </div>
     </div>
    </div>
    </div>