    <div class="front-page">
    <div class="front-page-row">
     <div class="front-page-cell">
      <div class="front-page-cell-content">
        <h2><img src="/static/images/pastel-svg/32/help.png" width="32" height="32" alt="" /> Help &amp; Support</h2>
        <p>If you find bugs or have a question just post on our <a href="/forum/2/">Forums</a> or check the <a href="/toolbar_button/faq/">FAQ</a>.</p>
        <p>Have an idea for a new button that you would like?  We are eager to hear your ideas, just make a suggestion on our <a href="/forum/2/">Forums</a> (No need to register!)</p>
      </div>
     </div>
     
     <div class="front-page-cell">
      <div class="front-page-cell-content">
        <h2><img src="/static/images/pastel-svg/32/information.png" width="32" height="32" alt="" /> News &amp; Updates</h2>
        <ul>
            <li><img src="/static/images/pastel-svg/16/twitter.png" alt=""> 
            <a href="https://twitter.com/codefisher/">Follow codefisher on Twitter</a></li>
            <li><a href="/news/">Read our Blog</a></li>
        </ul>
        <p>
            Creating and maintaining this add-on takes time and effort. If you would consider <a href="/donate/">Donating</a> it would be very welcome.
         </p>
      </div>
     </div>
    </div>
    
   </div>