#{{ button_id }} {
	list-style-image: url("icon-32.png");
}

toolbar #{{ button_id }} {
	list-style-image: url("icon-24.png");
}

toolbar[iconsize='small'] #{{ button_id }} {
	list-style-image: url("icon-16.png");
}