@namespace url("http://www.w3.org/1999/xhtml");

/* Stop those <marquee> tags! */
marquee {
	-moz-binding : none !important;
	display      : block;
	height       : auto !important;
}

/* Stop those fancy CSS animations! */
* {
	transition-property: none !important;
}