{% extends "base.html" %}
{% load static %}
{% load cache %}

{% block head_tags %}
        <link type="text/css" rel="stylesheet" href="{% get_static_prefix %}css/tbutton.css">
		<script type="text/javascript" src="{% get_static_prefix %}js/tbutton.js"></script>
{% endblock %}

{% block page_title %}Custom Toolbar Button Maker{% endblock %}

{% block content %}

<form onsubmit="createShareLink();" method="get" action="{% url 'tbutton-create' %}" id="tbutton-form" class="form-field">
   {% if buttons %}
    <fieldset>
        <legend>Create</legend>
        <button style="font-size:1.5em" type="submit" id="create-submit" name="create-submit"><img alt="" src="/static/images/pastel-svg/32/drive-down.png" height="32" width="32"> Download</button>
        <p>
            This customized version of Toolbar Buttons has already been configuired for you.  To install just press the download button above.  If you want to change the configueration, just scroll down and change the selection.
        </p>
    </fieldset>
   {% endif %}

	<fieldset>
		<legend>Locale &amp; Application</legend>
		<div class="form-field">
			<label for="button-locale">Locale
				<select name="button-locale" id="button-locale" class="form-input">
					{% for value, name, native_name, country in local_data %}
						<option{% if value == locale %} selected{% endif %}
							value="{{ value }}" style="background: url('{% get_static_prefix %}images/flags/{{ country|lower }}.png') no-repeat left center; padding-left:20px;">{{ native_name}} ({{ value }})</option>
					{% endfor %}
				</select>
			</label>
		</div>
		<fieldset>
			<legend>Application</legend>
			<ul id="application-list">
				{% for value in all_applications %}
					<li class="form-field">
						<label for="button-application-{{ value }}">
							<input{% if value in applications or not applications %} checked{% endif %}
								id="button-application-{{ value }}" value="{{ value }}" name="button-application" type="checkbox">
							<img src="{% get_static_prefix %}images/icons/{{ value }}.png"
								width="16" height="16" alt="">
							{% for key, app_names in application_names.items %}{% if key == value %}{{ app_names|join:", " }}{% endif %}{% endfor %}
						</label>
					</li>
				{% endfor %}
			</ul>
		</fieldset>
		<input type="submit" name="update-submit" value="Update">
	</fieldset>
	<fieldset id="button-list-field">
		<legend>Buttons</legend>
		<div class="content-box center" style="margin:1em"><label for="filter-list">Filter <input class="search" type="text" id="filter-list" placeholder="Filter" /></label></div>
		<ul id="button-list" class="list">
		{% cache 600 tbutton_create applications locale buttons %}
		{% for button, apps, label, tooltip, icon, description, folder in button_data %}
			<li class="button-item" id="{{ button }}-list-item">
				<label for="{{ button }}-checkbox">
					<input type="checkbox" {% if button in buttons %}checked="checked" {% endif %}class="button-checkbox" id="{{ button }}-checkbox" name="button" value="{{ button }}">
					{% for app in apps %}
						<img src="{% get_static_prefix %}images/icons/{{ app }}.png" width="16" height="16" alt="">
					{% endfor %}
					<span class="button-name">{{ label|safe }}{% if folder != 'data' %} *{% endif %}</span>
				</label>
				<div class="button-info">
					<img src="{% get_static_prefix %}images/pastel-svg/16/{{ icon }}" width="16" height="16" alt="{{ tooltip|safe }}">
					<div class="button-description">{{ description|linebreaks }}</div>
				</div>
			</li>
		{% endfor %}
		{% endcache %}
		</ul>
		<p>
		    * These buttons are not in the official release, but will be added if they are popular here.
		</p>
		<div id="suggestion-box">
		    <h3>Suggestsions</h3>
		    <p>People who used the buttons you picked, also used these buttons.</p>
    		<ul id="suggestsions">
    		
    		</ul>
		</div>
		<script src="{% get_static_prefix %}/js/list.min.js"></script>
		<script>
		setSuggestions();
		var options = {
          valueNames: ['button-name', 'button-description']
        };        
        var buttonList = new List('button-list-field', options);
        </script>
	</fieldset>
    <fieldset>
        <legend>Submit</legend>
        <button style="font-size:1.5em" type="submit" id="create-submit-first" name="create-submit"><img alt="" src="/static/images/pastel-svg/32/drive-down.png" height="32" width="32"> Download</button>
    </fieldset>
	<fieldset>
		<legend>Settings</legend>
        <div class="form-field">
            <label>
                <input type="checkbox" name="add-to-toolbar" value="true"{% if add_to_toolbar or not buttons %} checked="checked"{% endif %}>
                    Automatically add buttons to main toolbar.
            </label>
            <p>
                Normally the buttons would just be added to the "Customise Toolbar" window.  But we can also run a script when the extension is first installed to add them into the main toolbar for you.  After you can still customise where they placed as before.
            </p>
        </div>
		<div class="form-field">
			<label>
				<input type="checkbox" name="offer-download" value="true"{% if offer_download %} checked="checked"{% endif %}>
					Offer for download instead of installing.
			</label>
			<p>
				Normally extensions get installed into Firefox, but if you intend
				to install the created extension into Thunderbird etc. check this box
				and you will be prompted to download the extension instead.
			</p>
		</div>
		<div class="form-field">
			<label>
				<input type="checkbox" name="create-toolbars" value="true"{% if create_toolbars %} checked="checked"{% endif %}>
					Create toolbars for selected buttons.
			</label>
			<p>
				If enabled a suitable number of toolbars will be created to fit your selection of buttons.
				Then your selection will be added onto these toolbars (unless you have selected to have them added to the main toolbar).
			</p>
		</div>
		<div class="form-field">
			<label>
				<input type="checkbox" name="create-menu" value="true"{% if create_menu %} checked="checked"{% endif %}>
					Create a menu of selected buttons.
			</label>
			<p>
				A menu of all the selected buttons can be created and placed in the <em>Tools</em> menu.
				This feature is experimental and some buttons may fail to work.
			</p>
		</div>
		{% comment %}
		<div class="form-field">
			<label>
				Icon Set
				<select name="icon-set">
					{% for name, label in icon_sets %}
						<option{% if name == default_icons%} selected{% endif %} value="{{ name }}">{{ label }}</option>
					{% endfor %}
				</select>
			</label>
			<p>
				The icon set that you would like that buttons to use.
			</p>
		</div>
		{% endcomment %}
	</fieldset>
    <fieldset>
        <legend>Icon Sizes</legend>
        <div class="form-field">
            <div>
            <label>
                <input type="radio" name="icon-size" value="standard"{% if icon_size == 'standard' %} checked="checked"{% endif %}>
                    Standard: Use the standard 16x16 icons as the small size and 24x24 as the larger.
            </label>
            </div>
            <div>
            <label>
                <input type="radio" name="icon-size" value="large"{% if icon_size == 'large' %} checked="checked"{% endif %}>
                    Large: Use 24x24 icons as the small size and 32x32 as the larger.
            </label>
            </div>
            <div>
            <label>
                <input type="radio" name="icon-size" value="jumbo"{% if icon_size == 'jumbo' %} checked="checked"{% endif %}>
                    Jumbo: Use 32x32 icons as the small size and 48x48 as the larger.
            </label>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Update Streem</legend>
        <div class="form-field">
            <div>
            <label>
                <input type="radio" name="channel" value="stable"{% if channel == 'stable' %} checked="checked"{% endif %}>
                    Stable: You will only be offered an update when there is a new major point release.
            </label>
            </div>
            <div>
            <label>
                <input type="radio" name="channel" value="beta_alpha"{% if channel == 'beta_alpha' %} checked="checked"{% endif %}>
                    Latest: You will be offered an update on every version update.
            </label>
            </div>
            <div>
            <label>
                <input type="radio" name="channel" value="nightly"{% if channel == 'nightly' %} checked="checked"{% endif %}>
                    Nightly: You will be offered an update when ever there are changes available.
            </label>
            </div>
        </div>
    </fieldset>
	<fieldset>
        <legend>Submit</legend>
		<button style="font-size:1.5em" type="submit" id="create-submit" name="create-submit"><img alt="" src="/static/images/pastel-svg/32/drive-down.png" height="32" width="32"> Download</button>
	</fieldset>

</form>
<fieldset id="share-filedset" style="display:none">
    <legend>Share</legend>
    <label>
        Share URL
        <input type="text" size="50" onclick="this.select();" id="share-url" />
    </label>
    <p>
        If you should like to share the the extension you have created, you can use the above link.
    </p>
</fieldset>
{% endblock %}
