{% extends "base.html" %}
{% load static %}

{% block head_tags %}
        <link type="text/css" rel="stylesheet" href="{% get_static_prefix %}css/tbutton.css">
		<script type="text/javascript" src="{% get_static_prefix %}js/tbutton.js"></script>
{% endblock %}

{% block page_title %}Custom Toolbar Button Maker{% endblock %}

{% block content %}

<form method="get" action="{% url 'tbutton-create' %}" id="tbutton-form" class="form-field">
	<fieldset>
		<legend>Locale &amp; Application</legend>
		<div class="form-field">
			<label for="button-locale">Locale
				<select name="button-locale" id="button-locale" class="form-input">
					{% for value, name, native_name, country in local_data %}
						<option{% if value == locale %} selected{% endif %}
							value="{{ value }}" style="background: url('{% get_static_prefix %}images/flags/{{ country|lower }}.png') no-repeat left center; padding-left:20px;">{{ native_name}} [{{ value }}]</option>
					{% endfor %}
				</select>
			</label>
		</div>
		<fieldset>
			<legend>Application</legend>
			<ul id="application-list">
				{% for value in all_applications %}
					<li class="form-field">
						<label for="button-application-{{ value }}">
							<input{% if value in applications %} checked{% endif %}
								id="button-application-{{ value }}" value="{{ value }}" name="button-application" type="checkbox">
							<img src="{% get_static_prefix %}images/icons/{{ value }}.png"
								width="16" height="16" alt="">
							{% for key, app_names in application_names.items %}{% if key == value %}{{ app_names|join:", " }}{% endif %}{% endfor %}
						</label>
					</li>
				{% endfor %}
			</ul>
		</fieldset>
		<input type="submit" name="update-submit" value="Update">
	</fieldset>
	<fieldset id="button-list-field">
		<legend>Buttons</legend>
		<div class="content-box center" style="margin:1em"><label for="filter-list">Filter <input class="search" type="text" id="filter-list" placeholder="Filter" /></label></div>
		<ul id="button-list" class="list">
		{% for button, apps, label, tooltip, icon, description, folder in button_data %}
			<li class="button-item" id="{{ button }}-list-item">
				<label for="{{ button }}-checkbox">
					<input type="checkbox" class="button-checkbox" id="{{ button }}-checkbox" name="button" value="{{ button }}">
					{% for app in apps %}
						<img src="{% get_static_prefix %}images/icons/{{ app }}.png" width="16" height="16" alt="">
					{% endfor %}
					<span class="button-name">{{ label|safe }}{% if folder != 'data' %} *{% endif %}</span>
				</label>
				<div class="button-info">
					<img src="{% get_static_prefix %}images/pastel-svg/16/{{ icon }}" width="16" height="16" alt="{{ tooltip|safe }}">
					<div class="button-description">{{ description|linebreaks }}</div>
				</div>
			</li>
		{% endfor %}
		</ul>
		<p>
		    * These buttons are not in the official release, but will be added if they are popular here.
		</p>
		<div id="suggestion-box">
		    <h3>Suggestsions</h3>
		    <p>People who used the buttons you picked, also used these buttons.</p>
    		<ul id="suggestsions">
    		
    		</ul>
		</div>
		<script src="{% get_static_prefix %}/js/list.min.js"></script>
		<script>
		setSuggestions();
		var options = {
          valueNames: ['button-name', 'button-description']
        };        
        var buttonList = new List('button-list-field', options);
        </script>
	</fieldset>
	<fieldset>
		<legend>Settings</legend>
        <div class="form-field">
            <label>
                <input type="checkbox" name="add-to-toolbar" checked="checked" value="true">
                    Automatically add buttons to main toolbar.
            </label>
            <p>
                Normally the buttons would just be added to the "Customise Toolbar" window.  But we can also run a script when the extension is first installed to add them into the main toolbar for you.  After you can still customise where they placed as before.
            </p>
        </div>
		<div class="form-field">
			<label>
				<input type="checkbox" name="offer-download" value="true">
					Offer for download instead of installing.
			</label>
			<p>
				Normally extensions get installed into Firefox, but if you intend
				to install the created extension into Thunderbird etc. check this box
				and you will be prompted to download the extension instead.
			</p>
		</div>
		<div class="form-field">
			<label>
				<input type="checkbox" name="create-toolbars" value="true">
					Create toolbars for selected buttons.
			</label>
			<p>
				If enabled a suitable number of toolbars will be created to fit your selection of buttons.
				Then your selection will be added onto these toolbars (unless you have selected to have them added to the main toolbar).
			</p>
		</div>
		<div class="form-field">
			<label>
				<input type="checkbox" name="create-menu" value="true">
					Create a menu of selected buttons.
			</label>
			<p>
				A menu of all the selected buttons can be created and placed in the <em>Tools</em> menu.
				This feature is experimental and some buttons may fail to work.
			</p>
		</div>
		{% comment %}
		<div class="form-field">
			<label>
				Icon Set
				<select name="icon-set">
					{% for name, label in icon_sets %}
						<option{% if name == default_icons%} selected{% endif %} value="{{ name }}">{{ label }}</option>
					{% endfor %}
				</select>
			</label>
			<p>
				The icon set that you would like that buttons to use.
			</p>
		</div>
		{% endcomment %}
		<input type="hidden" name="locale" value="{{ locale }}">
		<input type="hidden" name="application" value="{{ applications|join:"," }}">
	</fieldset>
    <fieldset>
        <legend>Icon Sizes</legend>
        <div class="form-field">
            <div>
            <label>
                <input type="radio" name="icon-size" checked="checked" value="standard">
                    Standard: Use the standard 16x16 icons as the small size and 24x24 as the larger.
            </label>
            </div>
            <div>
            <label>
                <input type="radio" name="icon-size" value="large">
                    Large: Use 24x24 icons as the small size and 32x32 as the larger.
            </label>
            </div>
            <div>
            <label>
                <input type="radio" name="icon-size" value="jumbo">
                    Jumbo: Use 32x32 icons as the small size and 48x48 as the larger.
            </label>
            </div>
        </div>
        <input type="submit" name="create-submit" value="Submit">
    </fieldset>

    {% comment %}
	<fieldset>
		<legend>Advanced Settings</legend>
		<div class="form-field">
			<label>
				<input type="checkbox" name="include-all-locales" value="true">
					Include all available locales.
			</label>
			<p>
				By default only the locale selected is included.  Check this and all
				locales will be included.
			</p>
		</div>

		<div class="form-field">
			<label>
				Version
				<select name="version">
					{% for version, label in versions %}
						<option{% if version == current_version %} selected{% endif %} value="{{ version }}">{{ label }}</option>
					{% endfor %}
				</select>
			</label>
			<p>
				Older versions of the extension can be used for building the extension.'
				Some buttons maybe missing in older versions, if selected they will be left out.
			</p>
		</div>
		<div class="form-filed">
			<label>
				Update Stream
				<select name="update-stream">
					<option value="none">None</option>
					<option selected value="stable">Stable</option>
					<option value="unstable">Unstable</option>
				</select>
			</label>
			<p>
				The extension can follow several options for when it gets updated.
				Stable will follow the same releases as the main extension.  Unstable
				will follow the code repository directly.
			</p>
		</div>
		<input type="submit" name="create-submit" value="Submit">
	</fieldset>
    {% endcomment %}
</form>
{% endblock %}
