{% extends "base.html" %}

{% block page_title %}Toolbar Buttons {{ tbutton.version }}{% endblock %}


{% block content %}
   <h2><img src="/static/images/pastel-svg/32/note.png" width="32" height="32" alt="" /><a href="/toolbar_button/">Toolbar Buttons {{ tbutton.version }}</a> Release Notes</h2>
   {{ tbutton.release_notes|safe }}
   
        {% if tbutton.previous_release and tbutton.previous_release.release_notes %}
           <p>
            <a href="{{ tbutton.previous_release.get_release_url }}">Previous Version &raquo; </a>
           </p>
        {% endif %}
{% endblock %}


