html, body {
    min-width: 150px;
}

.group {
    padding:5px;
}

* {
    box-sizing: border-box;
}

.button {
    padding: 4px;
    font-size: 1em;
    cursor: pointer;
    border:1px solid #ffffff;
}

.button:hover {
    border:1px solid #999999;
    background: #f9f9f9;
    border-radius: 2px;
}

input {
  padding: 0;
  margin:0;
  vertical-align: middle;
}

hr {
    border: 0;
    border-bottom:1px solid #999999;
}