    <div class="front-page">
    <div class="front-page-row">
     <div class="front-page-cell">
      <div class="front-page-cell-content">
        <h2><img src="/static/images/pastel-svg/32/world.png" width="32" height="32" alt="" /> <a href="/toolbar_button/link-button-maker/">Link Buttons</a></h2>
        <p>
            We have been asked for buttons that open many different web pages, so we created a simple tool, the <a href="/toolbar_button/link-button-maker/">link button maker</a>, so that you can easily create toolbar buttons to any page you wish.
        </p>
      </div>
     </div>
     
     <div class="front-page-cell">
      <div class="front-page-cell-content">
        <h2><img src="/static/images/pastel-svg/32/color-wheel.png" width="32" height="32" alt="" /> <a href="/pastel-svg/">Pastel SVG</a></h2>
        <p>
            Do you like the icons we use?  We certainly do, that is why we created them.  If you like then to, visit the <a href="/pastel-svg/">Pastel SVG home page</a> and download them for your own use too.
        </p>
      </div>
     </div>
    </div>
    </div>